* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-image: url(img/hacker.png);
  background-size: 1700px 650px;
  background-repeat: no-repeat;
  background-position: center 100px;
  background-color: black;
}

nav {
  position:fixed;
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  font-weight: bold;
  text-shadow:
-3px 0px 0px  black,
3px 0px 0px black,
0px -3px 0px black,
0px 3px 0px black;color: black;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
  position:fixed;
}

nav ul{
  position:fixed;
  text-align: center;
  left: 5%;
  bottom: 10;
  width: 100%;
}
nav li{
  text-align: center;
  left: 100%;
  bottom: 10;
  width: 100%;
}

.footer {
position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(17, 0, 255);
  color: rgb(0, 255, 170);
  text-align: center;
}