body{
    background-color: #85A27A;
    background-image: url(images/white.png);
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    background-position: center 100px;
    

}

h1{
    font-family: Inter;
    color: #016241;
}
